body {
    background-color: #000;
    overflow: hidden;
    padding:0;
    margin:0;
}

#mock-pic {
  width:100vw;
  pointer-events: none;
}

#mock-pic img {
  width:100%;
  z-index:10;
}

#bg-glow {
    background-color: rgba(116, 223, 230, 1);
    filter: blur(500px);
    height:40vh;
    width:40vw;
    opacity:0.2;
    z-index: 2;
    position: absolute;
    pointer-events: none;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    mix-blend-mode: lighten;
    z-index:1;
}

#crt-scanline {
    width: 100%;
    height: 100px;
    z-index: 8;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(255, 255, 255, 0.2) 10%,
        rgba(0, 0, 0, 0.1) 100%
    );
    opacity: 0.1;
    position: absolute;
    bottom: 100%;
    animation: scanline 10s linear infinite;
}
  
@keyframes scanline {
  0% {
      bottom: 100%;
  }
  80% {
      bottom: 100%;
  }
  100% {
      bottom: 0%;
  }
}


#scanline-filter {
    height:100%;
    width:100%;
    z-index: 100;
    pointer-events: none;
    position: absolute;
        background: linear-gradient(
        to bottom,
        rgba(18, 16, 16, 0) 50%,
        rgba(0, 0, 0, 0.05) 50% /*change 0.05 to change scanline opacity*/
    );
    background-size: 100% 10px;
}

#pixel-filter {
  position: absolute;
  opacity:0.07; /*adjust this to change the filter opacity*/
  width: 100%;
  height: 100vh; 
  overflow: hidden; 
  background: repeating-linear-gradient(
    to right,
    rgba(255, 0, 0, 0.3) 0px, rgba(255, 0, 0, 0.3) 2px,
    rgba(0, 255, 0, 0.3) 2px, rgba(0, 255, 0, 0.3) 4px,
    rgba(0, 0, 255, 0.3) 4px, rgba(0, 0, 255, 0.3) 6px
  );
}